$boxShadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$boxShadowLite: 0 19px 38px rgba(255, 255, 255, 0.3), 0 15px 12px rgba(255, 255, 255, 0.22);
$blue: #17a1ec;
$green: #18ff87;
$black: #1c1c1c;
$gray: #aaaaac;
$red: #f6b1b1;
$white: #ededed;
$pink: #ff6781;

@mixin button {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    width: 150px;
    height: 50px;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $blue;
    position: relative;
    overflow: hidden;
    &:hover {
        box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          120deg,
          transparent,
          rgba(146, 148, 248, 0.4),
          transparent
        );
        transition: all 650ms;
    }
    &:hover:before {
        left: 100%;
    }
}

@mixin input {
    border: none;
    border-radius: 4px;
    padding: 4px 11px;
    outline: none;
    transition: all 0.3s;
    color: $black;
    font-size: 14px;
    background: $white;
    border: 2px solid $black;
    padding: 3px 20px;
    &:hover, &:focus {
        border-color: $pink;
    }
}

.page {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.inside__page {
    padding: 30px;
}

// SCROLLBAR

::-webkit-scrollbar {
    width: 0;
}

