@import "../../UI/style";



.selectPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background: url('../../img/select.jpg');
}

.selectPage__title {
    color: $white;
    font-weight: 400;
    font-size: 20px;
    color: $black;
}

.selectPage__buttons {
    display: flex;
    justify-content: center;
}

.selectPage__button {
    @include button;
    margin-left: 10px;
    padding-top: 12px;
    background: #ccc;
}
