@import '../../../UI/style.scss';

.work__button {
    @include button;
}

.work__wrapper {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work__card {
    position: relative;
    margin-right: 20px;
    padding: 20px;
    background: $white;
    box-shadow: $boxShadow;
    text-align: center;
    z-index: 0;
    transition: all .5s;
    input, button {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .work__disableTitle {
        color: $black;
    }
    h3 {
        color: $black;
    }
    &:hover {
        background: #ccc;
    }
}

.workPage__buyCountsButton {
    @include button;
    font-size: 11px;
}
.work__status {
    width: 350px;
    margin: 0 auto;
    font-weight: 900;
}

@media (max-width: 900px) {
    .work__wrapper {
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }
}
@media (max-width: 600px) {
    .work__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }
    .work__card {
        margin-bottom: 20px;
    }
}