* {
    margin: 0;
    padding: 0;
    font-family: "HelveticaLight", Helvetica, sans-serif;
}
@font-face {
    font-family: "HelveticaRegular";
    font-display: swap;
    src: url("./fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("./fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("./fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("./fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBold";
    font-display: swap;
    src: url("./fonts/HelveticaBold/HelveticaBold.eot");
    src: url("./fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("./fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("./fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-display: swap;
    font-family: "HelveticaLight";
    src: url("./fonts/HelveticaLight/HelveticaLight.eot");
    src: url("./fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("./fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("./fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: gray;
}
