@import "../../UI/style";

.starting__inside {
    width: 800px;
    margin: 0 auto;
}
.starting__text {
    padding: 0px 100px;
}


.starting__center {
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.starting__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    @include button;
}

@media (max-width: 800px) {
    .starting__inside {
        width: 600px;
    }
    .starting__text {
        padding: 0 50px;
    }
}

@media (max-width: 600px) {
    .starting__inside {
        width: 100%;
    }
    .starting__text {
        padding: 0 30px;
    }
}